<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="title-initials">A.D.M</div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "About me", "#", class: "nav-link", :style=>'color: white;margin-top: 10px;margin-right:60px;' %>
      </li>
      <li class="nav-item">
        <%= link_to "Portfolio", "#", class: "nav-link", :style=>'color: white;margin-top: 10px;margin-right:60px;' %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", "#", class: "nav-link", :style=>'color: white;margin-top: 10px;margin-right:60px;' %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "list.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="app-container">
  <div class="img-container">
    <div class="my_photo">
      <img alt="Le Wagon"
       src="/assets/me.jpg" />
    </div>
  </div>
  <div class="info-container">
    <h4>Fullstack - Developer</h4>
    <h1>Arthur De Meyer</h1>
    <div class="description">
      <p>
        Having completed recently a bachelor in Business Administration Studies, I am now a Full-Stack developer looking for a testing and exciting opportunity to keep on learning!
      </p>
    </div>
    <div class="btn-wrapper">
    <button class="btn draw-border"> <%= link_to "Download CV", download_path, target: "_blank"%> </button>
    <button class="btn draw-border-2">Contact</button>
    </div>
  </div>
</div>

<div class="block-title">
  <div onclick="myFunction()"><h2>What I Do ⇣</h2></div>
</div>


<script>
  function myFunction() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>

<div id="myDIV">
  <div class="app-container2">
    <div class="grid-container">
      <div class="about_me">
        <div class="my_goal">
          <div class="what-I-do">
            <h2><%= image_tag "favorite.png" %>My Goals</h2>
            <p>
              To be able to work for an encouraging and stable company that will assist me in developing, improving and obtaining the necessary skills in order to become the best engineer possible.
            </p>
          </div>
        </div>
        <div class="Studies">
          <div class="what-I-do">
            <h2><%= image_tag "student.png" %>My Studies</h2>
            <p>
              I have fullfiled my bachelor in Business Studies at Vesalius College with a major in Economics. I have been in a study abroad in Mexico, at the prestigeous Tecnologico de Monterey.
            </p>
          </div>
        </div>
        <div class="web_design">
          <div class="what-I-do">
            <h2><%= image_tag "website-design.png" %>App Dev</h2>
            <p>
              Determined and productive web developer with a passion for creative solutions. Knowledgeable in user interface, testing and debugging processes. Equiped with a diverse and promissing skills set.
            </p>
          </div>
        </div>
        <div class="my_other">
          <div class="what-I-do">
            <h2><%= image_tag "desktop.png" %> Interests </h2>
            <p>
              I have achieved the Le Wagon's 6months Ruby on Rails Full-Stack Web Development Bootcamp. I am innovative, creative, team player and love designing and building new project from the ground up.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="block-title">
  <div onclick="myFunction2()"><h2>My Skills ⇣</h2></div>
</div>

<script>
  function myFunction2() {
    var x = document.getElementById("myDIV-skills");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>

<div id="myDIV-skills">
  <div class="app-container3">
    <div class="skills-container">
      <div class="skill-wrapper">
        <section class="skills">
            <div class="skill">
                <h3 class="skill__type">HTML, CSS, BootStrap</h3>
                <div class="skill__outer-bar">
                    <div class="skill__inner-bar skill__inner-bar--100" style="background: #142850";></div>
                </div>
            </div>
            <div class="skill">
                <h3 class="skill__type">APIs, JSON Scraping</h3>
                <div class="skill__outer-bar">
                    <div class="skill__inner-bar skill__inner-bar--80" style="background: #142850";></div>
                </div>
            </div>
            <div class="skill">
                <h3 class="skill__type">Relational DB, SQL</h3>
                <div class="skill__outer-bar">
                    <div class="skill__inner-bar skill__inner-bar--80" style="background: #27496d";></div>
                </div>
            </div>
            <div class="skill">
                <h3 class="skill__type">Wireframe, UI, UX</h3>
                <div class="skill__outer-bar">
                    <div class="skill__inner-bar skill__inner-bar--70" style="background: #27496d";></div>
                </div>
            </div>
            <div class="skill">
                <h3 class="skill__type">ES6 JavaScript</h3>
                <div class="skill__outer-bar">
                    <div class="skill__inner-bar skill__inner-bar--60" style="background: #00909e";></div>
                </div>
            </div>
        </section>
      </div>
      <div class="skill-wrapper-2">
        <section class="skills">
          <div class="skill">
              <h3 class="skill__type">Git, technical workflow </h3>
              <div class="skill__outer-bar">
                  <div class="skill__inner-bar skill__inner-bar--100" style="background: #00909e";></div>
              </div>
          </div>
          <div class="skill">
              <h3 class="skill__type">Test Driven Development </h3>
              <div class="skill__outer-bar">
                  <div class="skill__inner-bar skill__inner-bar--90" style="background: #142850";></div>
              </div>
          </div>
          <div class="skill">
              <h3 class="skill__type">Ruby on rails</h3>
              <div class="skill__outer-bar">
                  <div class="skill__inner-bar skill__inner-bar--80" style="background: #142850";></div>
              </div>
          </div>
          <div class="skill">
              <h3 class="skill__type">English</h3>
              <div class="skill__outer-bar">
                  <div class="skill__inner-bar skill__inner-bar--90" style="background: #27496d";></div>
              </div>
          </div>
          <div class="skill">
              <h3 class="skill__type">Dutch</h3>
              <div class="skill__outer-bar">
                  <div class="skill__inner-bar skill__inner-bar--60" style="background: #27496d";></div>
              </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="block-title-Portfolio">
  <div onclick="myFunction3()"><h2>Featured Projects ⇣</h2></div>
</div>

<script>
  function myFunction3() {
    var x = document.getElementById("myDIV-portfolio");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>

<div id="myDIV-portfolio">
  <div class="app-container-portfolio">
    <div class="center">
      <div class="property-card">
        <a href="#">
          <div class="property-image" style="background-color: #142850";>
            <%= image_tag "socks.png" %>
            <div class="property-image-title">
              <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
            </div>
          </div></a>
        <div class="property-description">
          <h5> SockMate </h5>
          <p>Who has never had a lonely sock? We might have the solution... Designed, implemented and shipped to production a clone of AirBnB</p>
          <%= link_to "have a look!", "https://sock-mate-app.herokuapp.com/", :target => "_blank" %>
        </div>
        <a href="#">
          <div class="property-social-icons">
            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
          </div>
        </a>
      </div>
    </div>
    <div class="center">
      <div class="property-card">
        <a href="#">
          <div class="property-image" style="background-color: #27496d";>
            <%= image_tag "joystick.png" %>
            <div class="property-image-title">
              <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
            </div>
          </div></a>
        <div class="property-description">
          <h5> SmallThings </h5>
          <p>Ever felt like escaping your daily routine? We gamify your life with daily challenges! This is our final project @Le_Wagon</p>
          <%= link_to "Have a Look", "https://small-things-app.herokuapp.com/users/sign_in", :target => "_blank" %>
        </div>
        <a href="#">
          <div class="property-social-icons">
            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
          </div>
        </a>
      </div>
    </div>
    <div class="center">
      <div class="property-card">
        <a href="#">
          <div class="property-image" style="background-color: #00909e">
            <%= image_tag "opposite.png" %>
            <div> </div>
            <div class="property-image-title">
              <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
            </div>
          </div></a>
          <div class="property-description">
            <h5> Mobily </h5>
            <p>The platform where you will find everything that you may need in your new flat at the cheapest price! For furniture swap and sale. </p>
            <%= link_to "Have a Look!", "http://move-out.herokuapp.com/?fbclid=IwAR20i19cd6uRXZQrv57M7r-OjsdmtXqcyNYxaoPhPuHLlDJTTIa1AMaz8-Q", :target => "_blank" %>
          </div>
        <a href="#">
          <div class="property-social-icons">
            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
          </div>
        </a>
      </div>
    </div>
    <div class="center">
      <div class="property-card">
        <a href="#">
          <div class="property-image" style="background-color: #142850";>
            <%= image_tag "repair.png" %>
            <div class="property-image-title">
              <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
            </div>
          </div></a>
        <div class="property-description">
          <h5> Comming Soon!</h5>
          <p>New app coming out really soon. Stay on alert ;)</p>
        </div>
        <a href="#">
          <div class="property-social-icons">
            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<!-- <div class="block-title">
  <h2>Studies ⇣</h2>
</div>
 -->
