<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "font.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "About me", "#", class: "nav-link", :style=>'color: white;margin-top: 10px;margin-right:60px;' %>
      </li>
      <li class="nav-item">
        <%= link_to "Portfolio", "#", class: "nav-link", :style=>'color: white;margin-top: 10px;margin-right:60px;' %>
      </li>
      <li class="nav-item">
        <%= link_to "Resume", "#", class: "nav-link", :style=>'color: white;margin-top: 10px;margin-right:60px;' %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", "#", class: "nav-link", :style=>'color: white;margin-top: 10px;margin-right:60px;' %>
      </li>
      <li class="nav-item">
        <%= link_to "Diplomas", "#", class: "nav-link", :style=>'color: white;margin-top: 10px;margin-right:60px;' %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "list.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="app-container">
  <div class="img-container">
    <div class="my_photo">
      <img alt="Le Wagon"
       src="/assets/me.jpg" />
    </div>
  </div>
  <div class="info-container">
    <h4>Fullstack - Developer</h4>
    <h1>Arthur De Meyer</h1>
    <div class="description">
      <p>
        Lorem ipsum, dolor, sit amet consectetur adipisicing elit. Neque corrupti,
        maiores explicabo adipisci earum deserunt odio obcaecati quas possimus nam cumque similique,
        sunt reiciendis, amet autem labore consequatur consequuntur facilis.
        Lorem ipsum dolor sit amet consectetur adipisicing, elit. Officiis reiciendis ea, nam, recusandae sit autem in repellendus i
      </p>
    </div>
    <div class="btn-wrpper">
    <button class="btn draw-border">Download CV</button>
    <button class="btn draw-border-2">Contact</button>
    </div>
  </div>
</div>

<div class="block-title">
  <div onclick="myFunction()"><h2>What I Do ⇣</h2></div>
</div>


<script>
  function myFunction() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>

<div id="myDIV">
  <div class="app-container2">
    <div class="what-I-do">
      <%= image_tag "desktop.png" %><h2>ecommerce</h2>
      <p>
        Lorem ipsum, dolor, sit amet consectetur adipisicing elit. Neque corrupti,
        maiores explicabo adipisci earum deserunt odio obcaecati quas possimus nam cumque similique,
      </p>
    </div>
    <div class="what-I-do">
      <%= image_tag "student.png" %><h2>Studies</h2>
      <p>
        Lorem ipsum, dolor, sit amet consectetur adipisicing elit. Neque corrupti,
        maiores explicabo adipisci earum deserunt odio obcaecati quas possimus nam cumque similique,
      </p>
    </div>
  </div>
  <div class="app-container2">
    <div class="what-I-do">
      <h2><%= image_tag "website-design.png" %>Web Design</h2>
      <p>
        Lorem ipsum, dolor, sit amet consectetur adipisicing elit. Neque corrupti,
        maiores explicabo adipisci earum deserunt odio obcaecati quas possimus nam cumque similique,
      </p>
    </div>
    <div class="what-I-do">
      <h2><%= image_tag "favorite.png" %>My Goale</h2>
      <p>
        Lorem ipsum, dolor, sit amet consectetur adipisicing elit. Neque corrupti,
        maiores explicabo adipisci earum deserunt odio obcaecati quas possimus nam cumque similique,
      </p>
    </div>
  </div>
</div>


<div class="block-title">
  <div onclick="myFunction2()"><h2>My Skills ⇣</h2></div>
</div>

<script>
  function myFunction2() {
    var x = document.getElementById("myDIV-skills");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>

<div id="myDIV-skills">
  <div class="app-container3">
    <div class="skills-container">
      <section class="skills">
          <div class="skill">
              <h3 class="skill__type">HTML</h3>
              <div class="skill__outer-bar">
                  <div class="skill__inner-bar skill__inner-bar--100"></div>
              </div>
          </div>
          <div class="skill">
              <h3 class="skill__type">CSS</h3>
              <div class="skill__outer-bar">
                  <div class="skill__inner-bar skill__inner-bar--90"></div>
              </div>
          </div>
          <div class="skill">
              <h3 class="skill__type">JS</h3>
              <div class="skill__outer-bar">
                  <div class="skill__inner-bar skill__inner-bar--80"></div>
              </div>
          </div>
          <div class="skill">
              <h3 class="skill__type">PHP</h3>
              <div class="skill__outer-bar">
                  <div class="skill__inner-bar skill__inner-bar--70"></div>
              </div>
          </div>
          <div class="skill">
              <h3 class="skill__type">SQL</h3>
              <div class="skill__outer-bar">
                  <div class="skill__inner-bar skill__inner-bar--60"></div>
              </div>
          </div>
      </section>
    </div>
    <section class="skills">
        <div class="skill">
            <h3 class="skill__type">HTML</h3>
            <div class="skill__outer-bar">
                <div class="skill__inner-bar skill__inner-bar--100"></div>
            </div>
        </div>
        <div class="skill">
            <h3 class="skill__type">CSS</h3>
            <div class="skill__outer-bar">
                <div class="skill__inner-bar skill__inner-bar--90"></div>
            </div>
        </div>
        <div class="skill">
            <h3 class="skill__type">JS</h3>
            <div class="skill__outer-bar">
                <div class="skill__inner-bar skill__inner-bar--80"></div>
            </div>
        </div>
        <div class="skill">
            <h3 class="skill__type">PHP</h3>
            <div class="skill__outer-bar">
                <div class="skill__inner-bar skill__inner-bar--70"></div>
            </div>
        </div>
        <div class="skill">
            <h3 class="skill__type">SQL</h3>
            <div class="skill__outer-bar">
                <div class="skill__inner-bar skill__inner-bar--60"></div>
            </div>
        </div>
    </section>
  </div>
</div>

<div class="block-title-Portfolio">
  <div onclick="myFunction3()"><h2>Portfolio ⇣</h2></div>
</div>

<script>
  function myFunction3() {
    var x = document.getElementById("myDIV-portfolio");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>

<div id="myDIV-portfolio">
  <div class="app-container-portfolio">
    <div class="center">
      <div class="property-card">
        <a href="#">
          <div class="property-image">
            <div class="property-image-title">
              <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
            </div>
          </div></a>
        <div class="property-description">
          <h5> Card Title </h5>
          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
        </div>
        <a href="#">
          <div class="property-social-icons">
            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
          </div>
        </a>
      </div>
    </div>
    <div class="center">
      <div class="property-card">
        <a href="#">
          <div class="property-image">
            <div class="property-image-title">
              <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
            </div>
          </div></a>
        <div class="property-description">
          <h5> Card Title </h5>
          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
        </div>
        <a href="#">
          <div class="property-social-icons">
            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
          </div>
        </a>
      </div>
    </div>
    <div class="center">
      <div class="property-card">
        <a href="#">
          <div class="property-image">
            <div class="property-image-title">
              <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
            </div>
          </div></a>
        <div class="property-description">
          <h5> Card Title </h5>
          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
        </div>
        <a href="#">
          <div class="property-social-icons">
            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
          </div>
        </a>
      </div>
    </div>
    <div class="center">
      <div class="property-card">
        <a href="#">
          <div class="property-image">
            <div class="property-image-title">
              <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
            </div>
          </div></a>
        <div class="property-description">
          <h5> Card Title </h5>
          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
        </div>
        <a href="#">
          <div class="property-social-icons">
            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="block-title">
  <h2>Studies ⇣</h2>
</div>

