<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "font.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "About me", "#", class: "nav-link", :style=>'color: white;margin-top: 10px;margin-right:60px;' %>
      </li>
      <li class="nav-item">
        <%= link_to "Portfolio", "#", class: "nav-link", :style=>'color: white;margin-top: 10px;margin-right:60px;' %>
      </li>
      <li class="nav-item">
        <%= link_to "Resume", "#", class: "nav-link", :style=>'color: white;margin-top: 10px;margin-right:60px;' %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", "#", class: "nav-link", :style=>'color: white;margin-top: 10px;margin-right:60px;' %>
      </li>
      <li class="nav-item">
        <%= link_to "Diplomas", "#", class: "nav-link", :style=>'color: white;margin-top: 10px;margin-right:60px;' %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "list.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="app-container">
  <div class="img-container">
    <div class="my_photo">
      <img alt="Le Wagon"
       src="/assets/me.jpg" />
    </div>
  </div>
  <div class="info-container">
    <h4>Fullstack - Developer</h4>
    <h1>Arthur De Meyer</h1>
    <div class="description">
      <p>
        Lorem ipsum, dolor, sit amet consectetur adipisicing elit. Neque corrupti,
        maiores explicabo adipisci earum deserunt odio obcaecati quas possimus nam cumque similique,
        sunt reiciendis, amet autem labore consequatur consequuntur facilis.
        Lorem ipsum dolor sit amet consectetur adipisicing, elit. Officiis reiciendis ea, nam, recusandae sit autem in repellendus i
      </p>
    </div>
    <div class="btn-wrpper">
    <button class="btn draw-border">Download CV</button>
    <button class="btn draw-border-2">Contact</button>
    </div>
  </div>
</div>

<div class="app-container2">
  <div class="block-title">
    <h2>What I Do</h2>
  </div>
  <div class="what-I-do">
    <h2><%= image_tag "desktop.png" %>ecommerce</h2>
  </div>
</div>





